# Ignore Python cache files
__pycache__/
*.py[cod]

# Environment-specific config
.env
config.py

# SQLite database files
*.db

# Machine learning models
/models/*.pkl
/models/*.h5

# Sensitive keys
SECRET_KEY
